{% extends "layout_home.html" %}
{% block body %}

<div class="body">
    <video class="video-background" autoplay loop>
        <source src="/static/video/designer.mp4" type="video/mp4">
    </video>
    <div class="content">
        <div class="logo-text">
            <h1>FERRITE</h1>

        </div>
        <div class="title">
            Improving the writing experience of a writing class

        </div>
        <div class="actions">
            <a href="/teachers/class" class="btn btn-primary btn-lg btn-raised">Teacher login
                <div class="ripple-wrapper"></div>
            </a>
            <br>
            <a href="/students/assignments" class="btn btn-default btn-lg btn-raised btn-student">Student signup
                <div class="ripple-wrapper"></div>
            </a>
        </div>


    </div>
    <div class="footer">
        <nav class="home-footer-nav pull-right">
            <a href="#">About</a>
            <a href="#">Blog</a>
            <a href="#">Help</a>
            <a href="#">Teachers</a>
        </nav>
        <div class="copy">
            © Ferrite
            2015

        </div>

    </div>

</div>


{% endblock %}