{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-body">
                        <div class="row login-row">
                            <img src="/static/logo-blue.png"/><br>

                            <h3>Edmodo Interview</h3>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-body">


                        <form action="/teachers/class/post" method="post">
                            <fieldset>


                                <div class="form-group">
                                    <label for="dropdown-menu" class="col-lg-2 control-label">Term</label>

                                    <div class="col-lg-3">
                                        <select class="form-control" placeholder="Select your class term"
                                                id="dropdown-menu"
                                                name="essay_type">
                                            <option value="Fall">Fall</option>
                                            <option value="Spring">Spring</option>
                                            <option value="Summer">Summer</option>

                                        </select>
                                    </div>

                                </div>


                            </fieldset>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}