<style>

    .well{
 border-radius: 5px!important;
        border: 3px solid;
  border-color: #dae1e8 #d3dde5 #b6c8d8;
  box-shadow: 0 3px 0 0 rgba(56,61,72,0.09)!important;
    }
    
    #table_length{
        display: none;
    }

    .login-row{
        text-align: center;

    }

    .login-row>img{
        text-align:center;
    }

    .login-a{
        font-weight: bold;
        padding: 10px;
        font-size: 15px;
        color: #9f9f9f;
    }

    textarea{
        background-color: #f9f9f9 !important;
    }

    .body{
        margin-left: 50px;
    }


</style>